.big-container {
    border: 3px solid rgb(190, 190, 209);
    border-style: groove;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex: row;
    flex-direction: row;
    row-gap: 10px;
    align-items: center;
    
}

.item {
    text-align: center;
    height: 700px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.item-color {
    background: linear-gradient(rgb(43, 95, 240) 20%, #52aef8 , #0acff1);
    border-radius: 0px 0px 30px 30px;
    border-style:hidden;
    height: 650px;
    margin-top: 0px;
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.3);
}

.button-1{
    border-radius: 20px;
    width: 400px;
    height: 50px;
    padding: 2px;
    margin-top: 20px;
    background-color: rgba(45, 207, 193);
    align-self: center;
    border-color: aqua;
    font-size: 40px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.button-2 {
    border: 3px solid rgba(99, 212, 205);
    color: rgba(99, 212, 205);
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 50px;
    padding: 3px;
    align-self: center;
    font-size: 38px;
    margin-bottom: 70px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}



