body{
    background-color: white;
}

.container {
    display: flex;
    width: 1080px;
}

.content {
    display: flex;
    flex-direction: column;  
    border-right: 0px;
}
                            
.image {
    border-bottom: 17px;
    width: 500px;
}

.division {
    border: 10px solid black;
}

.imagen-medio {
    width: 1020px;
}

.competitors {
    width: 480px;
}

img {
    border-radius: 10px;
}

.imagen-fondo {
    height: 670px; 
    width: 480px;
}

.container-grande {
    background-color: black;
    border-radius: 100px;
    margin-left: 36%;
    width: 1040px;
}
